<div class="container-md">
  <div class="row mt-3">
    <div class="col-12">
      <app-user [githubUser$]="githubUser$"></app-user>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3">
      <app-repos
        [githubRepos]="githubRepos"
        [selectedGithubRepo]="selectedGithubRepo"
        (githubRepoSelectedEvent)="githubRepo$.next($event)"
      ></app-repos>
    </div>
    <div class="col-9">
      <app-commits
        [githubCommits]="githubCommits"
      ></app-commits>
    </div>
  </div>
</div>
