<ng-container *ngIf="githubUser">
  <h3>User</h3>
  <div class="card mt-3">
    <div class="row">
      <div class="col-2">
        <img
          class="card-img-left"
          [src]="githubUser.avatar_url"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-6">
            <h1 class="card-title">{{ githubUser.login }}</h1>
          </div>
          <div class="col-6" style="text-align: right">
            <a [href]="githubUser.html_url" class="btn btn-primary"
              >View on <i class="bi bi-github"></i></a
            >
            <button class="btn btn-secondary m-1" (click)="openPopup()">
              Swap User
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: displayStyle }"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Swap GitHub User</h5>
          <button
            type="button"
            class="close"
            (click)="closePopup()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label style="font-weight: bold;">GitHub Login</label>
          <input type="text" class="form-control" placeholder="pgr4" [(ngModel)]="swapUserValue" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="save()">
            Save
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closePopup()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
