<ng-container *ngIf="githubUser">
  <h3>User</h3>
  <div class="container-fluid mt-3">
    <div class="card">
      <div class="row">
        <div class="col-md-2">
          <img
            class="card-img-left"
            [src]="githubUser.avatar_url"
            style="width: 100%; height: 100%"
          />
        </div>
        <div class="col-md-10" style="padding: 5px">
          <h5 class="card-title">{{ githubUser.login }}</h5>
          <a [href]="githubUser.html_url" class="btn btn-primary"
            >View on GitHub</a
          >
          <button class="btn btn-secondary m-1" (click)="openPopup()">
            Swap User
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: displayStyle }"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Swap User</h5>
          <button
            type="button"
            class="close"
            (click)="closePopup()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" [(ngModel)]="swapUserValue" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="save()">Save</button>
          <button type="button" class="btn btn-secondary" (click)="closePopup()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
